body{
    background-color: navy;
}

.logo {
    height: 100px;
    grid-column: 1/2;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: goldenrod;
}

nav {
    display: flex;
}

nav a {
    text-align: center;
    padding: 25px;
    color: navy;
}

nav a:hover {
    color: white;
    background-color: navy;
}

#homepage {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    max-width: fit-content;
    background-color: navy;
}

h1, h2{
    color: goldenrod;
    font-family: 'Times New Roman', Times, serif;
}

#homepage p{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#homepage a{
    color: white;
}

#homepage a:hover{
    color: goldenrod;
}

#reading{
    width: 450px;
    grid-column: 1/2;
}

#welcome{
    grid-column: 3/6;
}

#questionpage{
    background-color: navy;
}

#questionpage img{
    float: right;
}

#questionpage h1{
    text-decoration: underline;
}

#questionpage a, p{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

#questionpage a:hover{
    color: goldenrod;
}

#answerpage{
    background-color: navy;
}

#answerpage img{
    float: right;
    padding: 10px;
}

#answerpage a, p{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    background-color: goldenrod;
}

footer a{
    color: navy;
}

footer p{
    color: navy;
}

footer a:hover {
    color: white;
    background-color: navy;
}