body {
    background: lightgray
}

.qbox1 {
    margin: 20px;
    border: 15px solid black;
    padding: 10px 15px;
    width: 500px;
    background: white;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.qbox2 {
    margin: 20px;
    border: 25px dotted royalblue;
    padding: 20px 35px;
    width: 500px;
    background: lightpink;
    box-sizing: border-box;
    border-radius: 90px;
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal;
}

.qbox3 {
    margin: 20px;
    border: 35px solid darkred;
    padding: 50px;
    width: 500px;
    background: tan;
    box-sizing: border-box;
    border-radius: 45px;
}